---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4" title="About me">
  <div class="flex flex-col gap-2 overflow-y-auto">
    <div class="text-sm font-light">
      <p>
        My primary tools of choice include:
      </p>
      <ul class="list-disc list-inside">
        <li>Ruby on Rails</li>
        <li>Kamal</li>
        <li>JavaScript</li>
        <li>(soon to be) Go</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Besides programming, I'm passionate about motorcycles, weightlifting, reading, and making the net a
      more positive place to be and learn from.
    </p>
    <p class="text-sm font-light">
      While I have my strengths I'm always trying to find new things to learn and new ways to solve problems.
      Be it engine or tech-related I'm happiest with a manual and an end-goal.
    </p>
  </div>
</Card>
