---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import { LINKS } from "../lib/constants";
import { Icon } from 'astro-icon/components'
import Tooltip from "./Tooltip/index";
import { Image } from "astro:assets";
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
  <div class="flex w-full h-full">
    <div class="flex flex-col justify-between md:max-h-[300px] gap-4">
      <div class="flex flex-col h-full">
        <h6 class="text-sm font-light m-0 text-gray-500">welcome</h6>
        <p class="m-0 font-light text-xl">
          Hi, I'm <b class="font-bold">Chris</b>, a software
          developer who likes solving tangible problems in maintainable ways.
        </p>
          <br>
        <p class="m-0 font-light text-xl">
          When I'm not looking for work I'm likely offering time to OSS projects or volunteer organisations
          such as <a href="https://codeyourfuture.io" target="_blank" cursor-pointer>CYF</a>.
          Currently, I'm waiting to hear back from <a href="https://rubyforgood.org/" target="_blank" cursor-pointer>RubyForGood</a>.
        </p>

      </div>
      <div class="flex gap-4">
        <a aria-label="github profile" href={LINKS.github} target="_blank">
          <Button aria-label="github profile">
            GitHub
          </Button>
        </a>
        <a aria-label="linkedin profile" href={LINKS.linkedin} target="_blank">
          <Button aria-label="linkedin profile">
            LinkedIn
          </Button>
        </a>
        <a aria-label="dribble profile" href={LINKS.writebook} target="_blank">
          <Button aria-label="dribble profile">
            Writebook | Blog
          </Button>
        </a>
      </div>
    </div>
    <Image
      alt="robohash of opswole"  class="w-auto max-h-[300px] select-none absolute right-[-110px] bottom-[-20px] z-[-1] opacity-50 md:opacity-100 md:relative md:right-auto md:bottom-auto md:z-auto pointer-events-none"       height="300"       src="/opswole.png"       width="300"
    />
  </div>
</Card>
